body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden; /* Prevent scrollbars */
}

#root {
  width: 100%;
  height: 100%;
}

canvas {
  display: block; /* Remove default margin */
  width: 100%;
  height: 100%;
}
